.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  .contact {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;

    .form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
    }
  }
}
