@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300&display=swap");

@font-face {
  font-family: "Sofia Pro";
  src: local("Sofia Pro Semi Bold"),
    url("../fonts/SofiaProSemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Sofia Pro";
  src: local("Sofia Pro Bold"), local("SofiaProBold"), local("Sofia Pro"),
    url("../fonts/SofiaProBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: local("HelveticaNeueCyr-Roman"),
    url("../fonts/HelveticaNeueCyr-Roman.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: local("HelveticaNeueCyr-Medium")
    url("../fonts/HelveticaNeueCyr-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: local("HelveticaNeueCyr-Bold"),
    url("../fonts/HelveticaNeueCyr-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: local("HelveticaNeueCyr-Light"),
    url("../fonts/HelveticaNeueCyr-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: local("HelveticaNeueCyr-Italic"),
    url("../fonts/HelveticaNeueCyr-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  max-width: 100vw;
  color: #000000;
  font-family: "HelveticaNeueCyr";
}

body {
  background: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}
